<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="refresh" content="7" >
<title>Water_Management</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
      <script src = "https://code.highcharts.com/highcharts.js"></script>
      <script src = "https://code.highcharts.com/highcharts-more.js"></script>
      <script src = "https://code.highcharts.com/modules/solid-gauge.js"></script>

<script>
window.onload = function () {

  var chart = new CanvasJS.Chart("chartContainer", {
	exportEnabled: true,
	animationEnabled: true,
	title:{
		text: "Sensor values"
	},
	legend:{
		cursor: "pointer",
		itemclick: explodePie
	},
	data: [{
		type: "pie",
		showInLegend: true,
		toolTipContent: "{name}: <strong>{y}%</strong>",
		indexLabel: "{name} - {y}",
		dataPoints: [
			{ y: {{temperature}}, name: "Temperature", exploded: true },
			{ y: {{humidity}}, name: "humidity" },
			{ y: {{moisture}}, name: "Soil moisture" },
			{ y: {{waterlevel}}, name: "water level" },
		]
	}]
});
chart.render();
}

function explodePie (e) {
	if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	} else {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
	}
	e.chart.render();

}
</script>
</head>
<body bgcolor="pink">
    <center><h1>WATER MANAGEMENT</h1></center>

<div class="topnav">
  <a href="/temperature/tem/">Temperature</a>
  <a href="/temperature/hem/">Humidity</a>
  <a href="/temperature/soil/">Soil moisture</a>
<a href="/temperature/level/">Water level</a>
</div>


<div align="center" >
<div  id="chartContainer" style="height: 370px; width: 40%;"  ></div>
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script><br>

      <div style = "width: 600px; height: 400px; margin: 0 auto">
         <div id = "container-speed" style = "width: 300px; height: 200px; float: right">
         </div>
         <div id = "container-rpm" style = "width: 300px; height: 200px; float: right">
         </div>
     </div>
      <script language = "JavaScript">
         $(document).ready(function() {
            var chart = {
               type: 'solidgauge'
            };
            var title = null;

            var pane = {
               center: ['50%', '85%'],
               size: '140%',
               startAngle: -90,
               endAngle: 90,

               background: {
                  backgroundColor: (
                     Highcharts.theme && Highcharts.theme.background2) || '#EEE',

                  innerRadius: '60%',
                  outerRadius: '100%',
                  shape: 'arc'
               }
            };
            var tooltip = {
               enabled: false
            };

            // the value axis
            var yAxis = {
               stops: [
                  [0.1, '#55BF3B'], // green
                  [0.5, '#DDDF0D'], // yellow
                  [0.9, '#DF5353'] // red
               ],
               lineWidth: 0,
               minorTickInterval: null,
               tickPixelInterval: 400,
               tickWidth: 0,
               title: {
                  y: -70
               },
               labels: {
                  y: 16
               },
               min: 0,
               max: 200,
               title: {
                  text: 'Temperature'
               }
            };
            var plotOptions = {
               solidgauge: {
                  dataLabels: {
                     y: 5,
                     borderWidth: 0,
                     useHTML: true
                  }
               }
            };
            var credits = {
               enabled: false
            };
            var series = [{
               name: 'Temperature',
               data: [0],
               dataLabels: {
                  format: '<div style = "text-align:center"><span style = "font-size:25px;color:' +
                     ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') +
                     '">{y}</span><br/>' +
                     '<span style = "font-size:12px;color:silver">°C</span></div>'
               },
               tooltip: {
                  valueSuffix: ' °C'
               }
            }];

            var json = {};
            json.chart = chart;
            json.title = title;
            json.pane = pane;
            json.tooltip = tooltip;
            json.yAxis = yAxis;
            json.credits = credits;
            json.series = series;
            $('#container-speed').highcharts(json);

            // the value axis
            yAxis = {
               stops: [
                  [0.1, '#55BF3B'], // green
                  [0.5, '#DDDF0D'], // yellow
                  [0.9, '#DF5353'] // red
               ],
               lineWidth: 0,
               minorTickInterval: null,
               tickPixelInterval: 400,
               tickWidth: 0,
               title: {
                  y: -70
               },
               labels: {
                  y: 16
               },
               min: 0,
               max: 500,
               title: {
                  text: 'Humidity'
               }
            };
            series = [{
               name: 'Humidity',
               data: [0],
               dataLabels: {
                  format: '<div style = "text-align:center"> <span style = "font-size:25px;color:' +
                     ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') +
                     '">{y:.1f}</span><br/>' +
                     '<span style = "font-size:12px;color:silver"></span></div>'
               },
               tooltip: {
                  valueSuffix: ' Humidity'
               }
            }];

            json.yAxis = yAxis;
            json.series = series;
            $('#container-rpm').highcharts(json);

            var chartFunction = function() {
               // Speed
               var chart = $('#container-speed').highcharts();
               var point;
               var newVal;
               var inc;

               if (chart) {
                  point = chart.series[0].points[0];
                  inc = Math.round((Math.random() - 0.5) * 100);
                  newVal = point.y + inc;

                  if (newVal < 0 || newVal > 200) {
                     newVal = point.y - inc;
                  }
                  point.update({{temperature}});  // temperature vlue
               }

               // RPM
               chart = $('#container-rpm').highcharts();

               if (chart) {
                  point = chart.series[0].points[0];
                  inc = Math.random() - 0.5;
                  newVal = point.y + inc;

                  if (newVal < 0 || newVal > 5) {
                     newVal = point.y - inc;
                  }
                  point.update({{humidity}}); //humidity value
               }
            };

            // Bring life to the dials
            setInterval(chartFunction, 2000);
         });
      </script>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3878.794028650853!2d79.99802051449622!3d13.548223190479444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d70b7ba21ad55%3A0xda80f7012f3985d6!2sInstitute+for+Financial+Management+and+Research!5e0!3m2!1sen!2sin!4v1507360756343" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</body>
</html>